:root {
  --primary-color: #303030;
  --secondary-color: #58EDB9;
}

/* MOBILE (RESPONSIVE 1300) */
@media (max-width: 1300px) {
  /* GLOBAL */
  h2 {
    font-size: 50px;
    line-height: 1;
  }
  .contacts,
  .site-description {
    display: none;
  }
  header {
    top: 0;
  }
  .menu {
    justify-content: flex-start;
  }
  .show {
    display: block;
  }
  .logo {
    margin-left: 20px;
  }

  /* MENU BUTTON */
  .logo-container {
    width: 40%;
  }
  .menu-button {
    display: block;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    right: 35px;
    top: 30px;
    cursor: pointer;
    transition: all .7s ease-out;
  }
  .menu-button.close {
    transform: rotate(180deg);
  }
  .menu-button .button-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: #fff;
    transition: all .7s ease-out;
  }
  .menu-button:hover .button-line{
    background-color: var(--secondary-color);
  }
  .menu-button.close .button-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-button.close .button-line:nth-child(2) {
    opacity: 0;
  }
  .menu-button.close .button-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  nav {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    transition: all .7s ease-out;
    display: flex;
    height: 0;
  }
  nav.show {
    height: 100vh;
  }
  nav ul.menu-list,
  nav .nav-branding {
    background-color: rgba(48,48,48,0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all .7s ease-out;
    float: right;
    width: 40%;
    height: 80vh;
    margin-top: 0;
    padding: 50px 2%;
    box-sizing: border-box;
    transform: translate3d(0, -100vh, 0);
  }
  nav .nav-branding {
    width: 60%;
    float: left;
    transform: translate3d(0, 100vh, 0);
    background-color: rgba(48,48,48,0.5);
  }
  nav.show ul.menu-list,
  nav.show .nav-branding {
    transform: translate3d(0, 0, 0);
    height: 100vh;
  }
  nav.show .menu-item {
    display: inline-block;
    margin: 30px 0;
  }

  /* HOME-SLIDER */
  .main-slider_text-container.framed p {
    width: 50%;
    font-size: 45px;
  }

  /* HOME MAIN */
  .main_text-container h2 {
    font-size: 50px;
    line-height: 1;
  }

  /* OUR WORK */
  .work-list {
    width: 80%;
  }
  .work-list h2 {
    font-size: 50px;
    line-height: 45px;
  }

  /* PORTFOLIO */
  .portfolio {
    padding: 0;
    margin: 0;
  }
  .filters-container ul {
    flex-wrap: wrap;
    padding: 0;
  }
  li.filter {
    margin-bottom: 20px;
  }
  .gallery-container ul {
    padding-left: 50px;
  }
  .gallery-image,
  .gallery-image img {
    width: 200px;
    height: 120px;
  }

  /* FOOTER */
  .footer_links {
    display: none;
  }
  .footer_contacts {
    width: 100%;
  }
  .footer_details {
    justify-content: space-around;
    font-size: 16px;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 20px;
  }
  .footer_details p {
    width: 20%;
  }
  .footer_callback {
    width: 100%;
    align-items: unset;
  }
  .footer_callback form {
    justify-content: space-around;
  }
  .footer_callback p {
    text-align: center;
    font-size: 16px;
  }
}


/* MOBILE (RESPONSIVE 640) */
@media (max-width: 640px) {
  /* GLOBAL */
  .cssload-thecube {
    width: 40px;
    height: 40px;
    margin-top: 300px;
  }
  .highlighted::after {
    height: 10px;
  }
  h2 {
    font-size: 35px;
    letter-spacing: 1px;
  }
  p.primary-text {
    font-size: 18px;
  }
  .btn {
    width: 200px;
  }
  .btn a, .btn span {
    width: 60%;
  }
  input {
    font-size: 14px;
  }

  /* MENU */
  .contacts,
  .site-description {
    display: none;
  }
  header {
    top: 0;
  }
  .menu {
    padding-left: 0;
    height: 75px;
  }
  .show {
    display: block;
  }
  .logo-container {
    width: 100%;
  }
  .logo {
    font-size: 30px;
    margin-left: 0;
  }
  .ampersand {
    font-size: 45px;
    margin: 0 5px;
  }

  /* HOME-SLIDER */
  .main-slider_text-container p:not(.primary-text) {
    font-size: 35px;
  }
  .main-slider_text-container.with-stripe p {
    font-size: 30px;
  }
  .main-slider_text-container.left-align p {
    width: 90%;
  }
  .main-slider_text-container.left-align p.primary-text {
    align-self: unset;
    padding-left: 20px;
    color: #fff;
  }
  .main-slider_text-container.framed p {
    width: 70%;
    font-size: 25px;
  }

  /* HOME-MAIN */
  #main img {
    display: none;
  }
  .main_text-container {
    width: 100%;
    padding-right: 0;
  }
  .main_text-container h2 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: unset;
  }
  .main_text-container .btn a {
    line-height: 20px;
    top: 10px;
  }

  /* FORM */
  .form h3 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .form div {
    flex-direction: column;
  }
  .form label:first-of-type {
    margin: 0;
  }
  .form label:last-of-type {
    margin-top: 20px;
  }

  /* ACHIEVEMENTS */
  .achievements-list {
    flex-direction: column;
    align-items: center;
  }
  .achievements-item {
    width: 100%;
    margin-top: 50px;
  }
  .achievements-img {
    width: 90px;
    height: 90px;
  }
  .achievements h3 {
    font-size: 35px;
  }

  /* ABOUT */
  .about .btn a {
    line-height: 20px;
    top: 10px;
  }

  /* OUR WORK */
  .work-list {
    width: 100%;
  }
  .work-list h2 {
    font-size: 40px;
    line-height: 45px;
  }

  /* FOOTER */
  .footer_links {
    display: none;
  }
  .footer_contacts {
    width: 100%;
  }
  .footer_details {
    justify-content: space-around;
    font-size: 14px;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 20px;
  }
  .footer_details p {
    width: 20%;
  }
  .footer_callback {
    width: 100%;
    align-items: unset;
  }
  .footer_callback form {
    justify-content: space-around;
  }
  .footer_callback p {
    font-size: 14px;
  }
  .footer_callback input,
  .footer_callback .btn {
    width: 40%;
  }
  
  /* CONTACTS */
  .contacts-banner h2 {
    margin: 55px 0 0;
  }
  .contacts-section {
    padding-top: 70px;
  }
  .contacts-img {
    height: 200px;
  }
  .contacts-section_container {
    flex-wrap: wrap;
  }
  .contacts-item {
    width: 50%;
    margin-top: 40px;
  }
  .img-container {
    width: 60px;
    height: 60px;
  }
  .contacts-item img {
    width: 35px;
    height: 35px;
  }
  .contacts-item img {
    padding: 12px;
  }

  /* HOW */
  .card {
    width: 90%;
  }
  .card:nth-child(2n+1) {
    margin-right: 0;
  }
  .number {
    margin-left: 25px;
  }
  .tools-container,
  .tools-parallax img {
    height: 300px;
  }
  .tools .btn a {
    line-height: 20px;
    top: 10px;
  }

  /* PORTFOLIO */
  .portfolio {
    padding: 0;
    margin: 0;
  }
  .filters-container ul {
    flex-wrap: wrap;
    padding: 0;
  }
  li.filter {
    margin-bottom: 20px;
  }
  .gallery-container ul {
    padding-left: 20px;
  }
  .gallery-image,
  .gallery-image img {
    width: 100px;
    height: 60px;
  }
}
