/* 
1. Header / Contacts
2. Header / Menu
3. Home Slider
*/

/* GLOBAL */
:root {
  --primary-color: #303030;
  --secondary-color: #58EDB9;
}

body {
  font-family: 'Raleway', sans-serif;
}

section {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

p.primary-text {
  font-size: 20px;
  text-transform: unset;
  color: var(--primary-color);
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 1.5;
}

h3 {
  font-size: 45px;
  letter-spacing: 5px;
}

.center-title {
  text-align: center;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  height: 60px;
  width: 230px;
  box-shadow: 0px 1px 32px rgba(48,48,48, .3);
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  color: #fff;
  outline: transparent;
}

.btn--uppercase {
  text-transform: uppercase;
}

.btn a, .btn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  position: relative;
  z-index: 2;
}

.btn .ripple {
  position: absolute;
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  opacity: .2;
  border-radius: 50%;
  left: -40px;
  transform: scale(0.9);
  transition: all ease-in-out .5s;
  z-index: 1;
}

.btn:hover .ripple {
  transform: scale(6.5);
  transition: all ease-in-out .7s;
}

.btn:active {
  box-shadow: none;
}

input {
  border: none;
  transition: all ease-in-out .7s;
  outline: transparent;
  height: 60px;
  width: 25%;
  margin: 20px 2% 20px 0;
  position: relative;
}

input:nth-child(2) {
  margin-right: 0;
}

input + span {
  display: inline-block;

}
input:focus + span {
  width: 100%;
}

input::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: var(--secondary-color);
}

.highlighted {
  position: relative;
}

.highlighted::after {
  content: '';
  display: block;
  height: 20px;
  width: calc(100% + 10px);
  position: absolute;
  top: 60%;
  left: -5px;
  z-index: -1;
  background-color: var(--secondary-color);
}

/* HEADER / CONTACTS */
.header {
  font-size: 16px;
  font-weight: 400;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: 30px;
  background-color: var(--primary-color);
  opacity: 0.8;
}

.tel, .mode {
  position: relative;
  color: #fff;
  margin-right: 50px;
  text-decoration: none;
}

.tel:before, .mode:before {
  content: '';
  position: absolute;
  left: -30px;
  top: -1px;
  width: 18px;
  height: 20px;
  background-image: url('./img/support.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mode:before {
  width: 20px;
  background-image: url('./img/clock.svg');
}

/* HEADER / MENU */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  background-color: var(--primary-color);
}

.logo-container {
  width:30%;

}
.logo {
  display: flex;
  justify-content: center;
  font-family: 'Impact', sans-serif;
  font-size: 40px;
  padding: 0 0 9px 5px;
  line-height: 25px;
  color: #fff;
  transform: translateX(-8px);
}

.ampersand {
  font-family: 'Georgia', serif;
  font-size: 55px;
  margin: 0 10px;
}

.logo::first-letter, .logo span {
  color: var(--secondary-color);
}

.site-description {
  color: #fff;
  text-transform: uppercase;
text-align: center;
font-size: 16px;
padding-top: 5px;
}

nav {
  width: 70%;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 20px;
  list-style-type: none;
}

.menu-item {
  position: relative;
}

.menu-item::before,
.features p::before,
.filter::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 14px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.menu-item:hover::before, 
.menu-item.current-page::before,
.features .achievements-item:hover p::before,
.filter:hover::before,
.filter.active::before {
  transition: all 0.5s ease-in-out;
  width: 100%
}

/* HOME SLIDER */
section#home {
  padding: 0;
}

.main-slider_item,
.about-slider_item {
  position: relative;
  height: 350px;
}

.main-slider_img,
.about-slider_img {
  width: 100vw;
  height: 350px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.main-slider_img.main-slider_img--center {
  background-position: center;
}

.main-slider_overlay,
.about-slider_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  opacity: .5;
  z-index: 1;
}

.main-slider_overlay--darker {
  opacity: .8;
}

.main-slider_overlay--lighter {
  opacity: .3;
}

.main-slider_text-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.main-slider_text-container p:not(.primary-text) {
  margin: 0;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
}

.main-slider_text-container.with-stripe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-slider_text-container.with-stripe p {
  font-weight: bold;
  text-align: center;
}

.main-slider_text-container p.stripe {
  line-height: 1.7;
  width: 100%;
  background-color: rgba(88, 237, 185, 0.7);
}

.main-slider_text-container.left-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-slider_text-container.left-align p {
  width: 40%;
  padding-left: 20px;
}

.main-slider_text-container.left-align p.primary-text {
  margin-top: 20px;
  align-self: flex-end;
}

.main-slider_text-container.typing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-slider_text-container.typing p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.typewriter span {
  display: block;
  box-sizing: border-box;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--secondary-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 20px auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-family: 'Courier New', Courier, monospace;
  animation: 
    typing 4s steps(10, end) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0 }
  60% { width: 100% }
  100% { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--secondary-color); }
}

.owl-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.owl-dots > button.owl-dot {
  height: 5px;
  width: 10px;
  background-color: var(--primary-color);
  margin: 0 5px;
  opacity: .5;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: all ease-in-out .4s;
}

.owl-dots > button.owl-dot.active {
  background-color: var(--secondary-color);
  opacity: 1;
  width: 20px;
  transition: all ease-in-out .4s;
}

.owl-stage {
  transition: all ease-in-out 1s !important;
}

/* MAIN */
#main {
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 90px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.main_text-container {
  width: 50%;
  padding-left: 5%;
  padding-right: 20px;
}

#main img {
  width: 30%;
  height: 105%;
  margin-right: 60px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

/* FORM */
.form {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: rgba(48,48,48, .1);
}



.form form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  width: 100%;
  text-align: center;
}

/* ACHIEVEMENTS */
.achievements,
.features {
  padding-bottom: 45px;
}

.achievements h2 {
  text-align: center;
}

.achievements-list {
  display: flex;
  justify-content: space-evenly;
}

.achievements-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
  line-height: 0;
  perspective: 550px;
  transform-style: preserve-3d;
}

.achievements-img {
  width: 100px;
  height: 100px;
  animation: notransform 2s infinite;
}

.achievements-item:hover .achievements-img{
  transform: rotateY(360deg);
  animation-delay: 1s;
}

@keyframes notransform {
  50% { transform: none; }
}

.achievements-item .primary-text {
  margin: 0;
  text-align: center;
}

/* WORK */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.work-bcg__image {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 500px;
}

.work-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: .7;
  z-index: 1;
}

.work-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  z-index: 2;
}

.work h2 {
  margin: 0;
  font-size: 75px;
  text-align: center;
  color: #fff;
  line-height: 85px;
  text-transform: uppercase;
}

.work .btn {
  margin-top: 105px;
}

/* SERVICES */
.services {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 90px;
  text-align: center;
}

.services h2, p {
  text-align: left;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
}

.services-item {
  display: flex;
  position: relative;
  border: 7px solid var(--secondary-color);
}

.services-img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.services-text__container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.services-text__overlay {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: #fff;
  opacity: .9;
}

.services-text__container .primary-text {
  position: relative;
  width: 80%;
  height: 60px;
  margin: 0;
  padding-left: 25px;
  font-size: 17px;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 90px;
}
.about-slider_item,
.about-slider_img {
  height: 500px;
}


.features img {
  margin-bottom: 20px;
}

.features .achievements-item p {
  position: relative
}

.tools-container {
  position: relative;
  background: #fff;
  height: 500px;
  width: 100vw;
  overflow: hidden;
}
.tools-parallax {
  position: absolute;
}
.tools-parallax:nth-child(1) {
  z-index: 10;
}
.tools-parallax:nth-child(2) {
  z-index: 20;
}
.tools-parallax:nth-child(3) {
  z-index: 30;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 45px;
  background-color: var(--primary-color);
}

.footer_links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1px;
}

.footer_links a:last-of-type {
  color: var(--secondary-color);
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_details {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 45px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.footer_details p {
  margin: 0;
}

.footer_whatsapp, .footer_viber {
  width: 25px;
  height: 25px;
  background-image: url('./img/whatsapp.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer_viber {
  width: 26px;
  height: 26px;
  background-image: url('./img/viber.svg');
}

.footer_callback {
  color: #fff;
}

.footer_callback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_callback p {
  margin: 50px 0 0;
  font-size: 18px;
  font-weight: 700;
}

.footer_callback form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer_callback input {
  width: 200px;
  margin: 0;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-radius: 5px;
}

.footer_callback .btn {
  margin-top: 10px;
}

.footer_callback input:focus::-webkit-input-placeholder { 
  color:transparent; 
}




.portfolio {
  min-height: 100vh;
  margin-bottom: 100px;
}

.filters-container ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

li.filter {
  position: relative;
  margin-right: 20px;
  display: inline-block;
  line-height: 2;
  cursor: pointer;
}



.gallery-image {
  overflow: hidden;
  width: 300px;
  height: 200px;
  border: 3px solid #fff;
}
.gallery-image img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: all ease-out .5s;
  cursor: pointer;
  filter: grayscale(70%);
}

.gallery-image img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.gallery-image.hidden {
  transform: scale(0.8) translateX(400px);
  opacity: 0;
  position: absolute;
  transition: all ease-out .7s;
}

/* EMPLOYES */
.employes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.employes-list {
  width: 75%;
  justify-content: space-around;
}

.employes .employes-text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employes-name, .employes-job {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  z-index: 2;
}

.employes-job {
  font-size: 16px;
  font-weight: 400;
}



